<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Local Cellars</a>

      <ul *ngIf='loggedIn()'class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>

      <div class="dropdown" *ngIf="loggedIn()" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>
      
        <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()" >Logout</a>
          </div>
        </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login();loginForm.reset()">
        <input id="usrN" class="form-control mr-sm-2" type="text" name="username"
          placeholder="UserName" required [(ngModel)]="model.username">
        <input id="pwd" class="form-control mr-sm-2" type="password" name="password"
          placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
</div>
</nav>